main{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;

}

app-square{
    border: 1px gray solid;
    height: 200px;
    
}

.center{
    display: flex; 
    justify-content:center; 
    align-items:center;
}

.buttonText{
    display: inline;
    display: flex;
    justify-content:center; 
    align-items:center;
}
#text{
    padding: 0px 10px 0px ;
}